.place__button {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.place__button_like {
  background-image: url(../../../images/places/black-heart.svg);
  background-repeat: no-repeat;
  background-position: 0 5px;
  background-size: 22px 19px;
}
