.popup__item {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  padding-bottom: 9px;
  font: 400 14px/17px "Inter", sans-serif;
  margin-bottom: 20px;
}

.popup__item:first-child {
  margin-bottom: 35px;
}

.popup__item::placeholder {
  color: #000;
}

input[type="text"]::-webkit-input-placeholder {
  color: #c4c4c4;
}
input[type="url"]::-webkit-input-placeholder {
  color: #c4c4c4;
}
