.profile__update-avatar {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  opacity: 0;
  transition: opacity .2s linear;
  background: rgba(0, 0, 0, 0.8);
}

.profile__update-avatar:hover {
  opacity: 1;
  cursor: pointer;
}
