.places {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 899px) {
  .places {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .places {
    grid-template-columns: none;
    grid-template-rows: repeat(6, 1fr);
  }
}
